<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-ripple/paper-ripple.html">
<link rel="import" href="/bower_components/core-ajax/core-ajax.html">

<polymer-element name="command-image-button" attributes="url text src">
  <template>
    <style>
    #button {
      position: relative;
      width: 200px;
      height: 200px;
      background-size: cover;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-position: center center;
    }
    #label {
      position: absolute;
      width: 100%;
      height: auto;
      left: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, .7);
      text-transform: capitalize;
      padding: .5em;
      box-sizing: border-box;
    }
    paper-button {
      width: 100%;
      bottom: 0;
      left: 0;
      margin: 0;
    }
    </style>
    <div layout horizontal id="button"
        on-tap="{{buttonClick}}"
      style="background-image: url({{src}})">
      <paper-ripple fit></paper-ripple>
      <content></content>
      <div id="label">{{text}}</div>
      <span id="reply"</span>

      <core-ajax id="command"
        auto=false
        url="{{url}}"
        handleAs="json"
        method="POST"
        on-core-response="{{handleResponse}}">
      </core-ajax>
    </div>
  </template>
  <script>
  Polymer({
    buttonClick: function(event, detail, sender) {
      this.$.command.go();
    },
    handleResponse: function(event, response) {
      this.$.reply.innerHTML = response.response;
    }
  });
  </script>
</polymer-element>
