<html>
<head>
  <title>N E BRE 8 - Homepage</title>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <script src="../bower_components/platform/platform.js"></script>
  <link rel="import" href="../bower_components/font-roboto/roboto.html">
  <link rel="import" href="command-button.html">
  <link rel="import" href="control-panel.html">
  <link rel="import" href="load-cell.html">
  <link rel="import" href="robot-status.html">

  <style>
    html,body {
      height: 100%;
      margin: 0;
      background-color: #E5E5E5;
      font-family: 'RobotoDraft', sans-serif;
    }

    .container {
      height: 600px;
    }
  </style>
</head>
<body>
  <h1>NE Bre 8's Brain</h1>
  <div class="container" layout vertical left>
    <div layout vertical justified>
      <h3>Common Drinks</h3>
      <command-button comm="margarita"></command-button>
      <command-button comm="whiskey sour"></command-button>
      <command-button comm="gin gimlet"></command-button>
      <command-button comm="old fashioned"></command-button>
      <h3>Try something crazy</h3>
      <command-button comm="spiritous drink (randomly generated)"></command-button>
      <command-button comm="sour drink (randomly generated)"></command-button>
      <h3>Machine details</h3>
      <robot-status></robot-status>
      <load-cell></load-cell>
    </div>
  </div>
</body>
</html>
