<link rel="import" href="../bower_components/core-ajax/core-ajax.html">

<polymer-element name="robot-status2">
  <template>
    <style>
    </style>
    <div id="queueStatus"></div>
    <core-ajax
      id="statusAjax"
      auto
      url="../queue.json"
      params='{"command":"{{comm}}", "text":"{{textValue}}"}'
      handleAs="text"
      method="GET"
      response="{{response}}"
      on-core-response="{{handleResponse}}">
    </core-ajax>
    <template id='actionTemplate' repeat="{{response.actions}}">
    </template>
  </template>
  <script>
  Polymer("robot-status", {
    publish: {
      data: {
        value: {},
        reflect: true
      }
    },
    handleResponse: function(event, response) {
      this.$.actionTemplate.model.response = response.response;
    },
    ready: function() {
      setInterval(function() { this.$.statusAjax.go(); }.bind(this), 100)
      //this.$.statusAjax.go();
    }
  });
  </script>
</polymer-element>
